# Temporary files #
.DS_Store
*.pyc
*.swp
*.swo
*~
\#*
.#*
._*

# Test files #
/testing_lims
/testing_lims.files

# IDE files #
/.idea

# Build files #
/MANIFEST

# Build directories #
/build/
/dist/

# Git files #
/.gitattributes
